In [ ]:
import seaborn as sns
import pandas as pd
import zipfile
import numpy as np

import datetime

In [74]:
aes = pd.read_csv('data/AES.csv', sep = ',', on_bad_lines= 'skip')
hca = pd.read_csv('data/HCA.csv', sep = ',', on_bad_lines= 'skip')
mpc = pd.read_csv('data/MPC.csv', sep = ',', on_bad_lines= 'skip')
zion = pd.read_csv('data/ZION.csv', sep = ',', on_bad_lines= 'skip')
names = (aes, hca, mpc, zion)
aes

,Date,High,Low,Open,Close,Volume,Adj Close
0,2017-11-13,10.840000,10.440000,10.660000,10.820000,8512700.0,9.232483
1,2017-11-14,10.970000,10.740000,10.840000,10.840000,9935600.0,9.249549
2,2017-11-15,10.900000,10.780000,10.810000,10.870000,6803000.0,9.275147
3,2017-11-16,10.920000,10.730000,10.910000,10.770000,5917000.0,9.189818
4,2017-11-17,10.790000,10.600000,10.770000,10.610000,7575000.0,9.053296
...,...,...,...,...,...,...,...
1254,2022-11-07,27.020000,26.120001,26.549999,26.780001,5138600.0,26.780001
1255,2022-11-08,26.840000,26.180000,26.820000,26.490000,4160000.0,26.490000
1256,2022-11-09,26.709999,26.100000,26.240000,26.250000,4489000.0,26.250000
1257,2022-11-10,28.240000,26.959999,27.170000,28.219999,6382200.0,28.219999
1258,2022-11-11,28.570000,27.930000,28.309999,28.080000,4518400.0,28.080000

1.1

In [92]:
for i in names:
    print(i["Close"].equals(i["Adj Close"]))

False
False
False
False

1.2

In [87]:
for i in names:
    print("The max of Adj Close is:")
    print(i[["Adj Close"]].max())
for i in names:
    print("The min of Adj Close is:")
    print(i[["Adj Close"]].min())

The max of Adj Close is:
Adj Close    28.219999
dtype: float64
The max of Adj Close is:
Adj Close    275.160004
dtype: float64
The max of Adj Close is:
Adj Close    121.230003
dtype: float64
The max of Adj Close is:
Adj Close    74.309998
dtype: float64
The min of Adj Close is:
Adj Close    8.681197
dtype: float64
The min of Adj Close is:
Adj Close    67.393913
dtype: float64
The min of Adj Close is:
Adj Close    15.138289
dtype: float64
The min of Adj Close is:
Adj Close    23.084974
dtype: float64

1.3

In [96]:
for i in names:
    i.sort_values('Date')

for i in names:
    i['pct_change'] = i["Adj Close"].pct_change()
    i['log_ret'] = np.log(i["Adj Close"]) - np.log(i["Adj Close"].shift(1))

for i in names:
    print("This is min,max,mean,median of log returns:")
    print(i["log_ret"].min(), i["log_ret"].max(), i["log_ret"].mean(),i["log_ret"].median() )

This is min,max,mean,median of log returns:
-0.18996315858911306 0.13939821312149547 0.0008842047374804361 0.0017027506070874665
This is min,max,mean,median of log returns:
-0.24619522782455228 0.20342881600137908 0.0008730931506204537 0.0008691287388984392
This is min,max,mean,median of log returns:
-0.3148332636779849 0.18754594983976025 0.000668329276244783 0.0013810880224038868
This is min,max,mean,median of log returns:
-0.12836152801319622 0.21415179357969727 0.00023751975167875567 0.0005192741621624641

1.4

In [98]:
for i in names:
    print("This is the max and min index:")
    print(i["log_ret"].idxmax())
    print(i["log_ret"].idxmin())

This is the max and min index:
589
588
This is the max and min index:
589
1117
This is the max and min index:
593
584
This is the max and min index:
752
581

1.5

1.6

In [104]:
#(aes, hca, mpc, zion)
total_aes = sum(aes["Volume"].notna()*aes["log_ret"].notna())
total_hca = sum(hca["Volume"].notna()*hca["log_ret"].notna())
total_mpc = sum(mpc["Volume"].notna()*mpc["log_ret"].notna())
total_zion = sum(zion["Volume"].notna()*zion["log_ret"].notna())
print("The total for aes, hca, mpc, zion is:")
print(total_aes,total_hca,total_mpc,total_zion, "respectively")

The total for aes, hca, mpc, zion is:
1258 1257 1258 1257 respectively